@using System.Diagnostics
@using System.Net.Http
@{
    ViewData["Title"] = "Cart";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div xmlns="http://www.w3.org/1999/html">
    @if (ViewBag.hasElements != null) {
        if (!ViewBag.hasElements) {
            <div>Your shopping cart is empty</div>
        }
        
        else {
            <ul class="list-group">
                @for (int i = ViewBag.elementCount - 1; i >= 0; i--) {
                    <li class="list-group-item">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                @ViewBag.ProductName[i]
                            </li>
                            <li class="list-group-item">
                                @{ var a = (decimal)ViewBag.ProductPrice[i] * (decimal)ViewBag.ProductQuantity[i]; }
                                @a ₺
                            </li>
                            <li class="list-group-item">
                                @ViewBag.ProductQuantity[i] @ViewBag.ProductMeasurementUnit[i]
                            </li>
                        </ul>
                    </li>
                }
                <div style="margin-top: 20px">
                    @using (Html.BeginForm("CartBuyAction", "Home", FormMethod.Post)) {
                        <div class="container" style="margin: 5%">
                            <label for="cartBuy"><b>Buy</b></label>
                            <button class="btn btn-outline-primary" type="submit" name="manageActionValue" value="Buy">Buy</button>
                        </div>
                    }
                </div>
            </ul>
        }
    } else {
        <div>Your shopping cart is empty</div>
    }
</div>