@using System.Diagnostics
@using System.Net.Http
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div xmlns="http://www.w3.org/1999/html">
    <div class="align product_filters">
        <!-- Filters and search -->
        <label>Fiyat</label><br>
        <input type="number" step="20" placeholder="Minimum fiyat"><br>
        <input type="number" step="20" placeholder="Maximum fiyat"><br>
        <button class="btn-default" type="submit">Uygula</button>
        <br>
        <br>
        <label>Kategori</label>
        <input type="radio" checked name="category" value="Hepsi">
    </div>

    <div class="align product_display">aaaaaaa</div>

    @if (HttpContextAccessor.HttpContext.Session.IsAvailable) {
        <br>
        @HttpContextAccessor.HttpContext.Session.GetString("userEmail")?.ToString()
        <br>
        @HttpContextAccessor.HttpContext.Session.GetString("userPasswordHash")?.ToString()
    } else {
        <p>CONTEXT UNAVAILABLE</p>
    }


</div>
