@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @using (Html.BeginForm("LoginAction", "Home", FormMethod.Post))
    {
        <div class="container">
            <label for="userEmail"><b>Email</b></label>
            <input class="styled_input form-control" type="email" placeholder="Enter Email" name="userEmail" required>

            <br><br>
            
            <label for="userPassword"><b>Password</b></label>
            <input class="styled_input form-control" type="password" placeholder="Enter Password" name="userPassword" required>

            <button class="btn btn-outline-primary" type="submit" value="Login">Login</button>

        </div>
    }
</div>
</body>
</html>