<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @using (Html.BeginForm("RegisterAction", "Home", FormMethod.Post))
    {
        <div class="container">
            <label for="userName"><b>Full name</b></label>
            <input class="styled_input" type="text" placeholder="Enter Name" name="userName" required>
            
            <label for="userPhone"><b>Phone Number</b></label>
            <input class="styled_input" type="text" placeholder="Enter Phone Number" name="userPhone" required>
            
            <label for="userAddress"><b>Address</b></label>
            <input class="styled_input" type="text" placeholder="Enter Delivery Address" name="userAddress" required>
            
            <label for="userEmail"><b>Email</b></label>
            <input class="styled_input" type="text" placeholder="Enter Email" name="userEmail" required>

            <label for="userPassword"><b>Password</b></label>
            <input class="styled_input" type="password" placeholder="Enter Password" name="userPassword" required>

            <button class="styled_button" type="submit" value="Register">Register</button>
        </div>
    }
</div>
</body>
</html>